@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
margin:0px;

font-family: 'Lato', sans-serif;
}
.hero{
    background-image:url('../image/horse1.jpg');
    height: 100vh; 
    
  text-align: center;
    font-size: cover; 
    background-repeat: no-repeat;
    background-position: bottom center;
   
    
}
.hero h1{
    color: orangered;
     padding-top:20px; 
    font-family: cursive;
     word-spacing: 10px;
     letter-spacing: 5px;
}
.article,#Variety-Horse{
    margin-left: 10px 40px 5px; 
    background-color: aquamarine;
    padding: 10px;
     border:20px solid orangered; 
    

}
.EM{
    font-size: 1em;
    background-color: yellow;
    display:inline-block;
    
    

}
